$white: #ffffff;
$light-color: #f4f4f4;
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #2366b5;
$secondary-color: #4a90e2;
$success-color: #09ae07;
$dark-color: rgba(0, 0, 0, 1);
$body-color: #f2ecec;
$black-color: #535353;
$grey-color: #c4c4c4;
$border-color: #e9e2e2;