@import 'utilities';
@import 'config';
@import 'overview';
@import 'sidebar';
@import 'card';
@import 'account';

body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

	.layout {
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
		grid-gap: 1.5rem;
	}

	.body {
		grid-column: span 10 / span 10;
		display: flex;
		flex-direction: column;
		background: $body-color;
	}

	a {
		text-decoration: none;
	}
}
